:root {
  --gold: #D4AF37;
  --dark: #1A1A1A;
  --light: #F8F9FA;
  --text: #333333;
}

body {
  background-color: var(--light);
  font-family: 'Playfair Display', serif; /* Fonte clássica de joalheria */
  color: var(--text);
}

button {
  transition: all 0.3s ease;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:hover {
  filter: brightness(1.2);
  transform: translateY(-2px);
}

/* Remove o espaço em branco/fundo transparente do iframe do Keycloak */
iframe[src*="keycloak"] {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  border: none !important;
  position: absolute !important;
  visibility: hidden !important;
}